.apply{
    display: flex;
    column-gap: 50px;
}
#boxHolder {
    padding: 5px 5px 5px 0;
    display: flex;
    column-gap: 5px;
    /* display: none; */
}
#boxItems{
    width: 50px;
    height: 5px;
    background-color: rgb(236, 231, 231);
}